@import 'tailwindcss';
@import 'tailwindcss';
@plugin "daisyui";

@plugin "daisyui/theme" {
	name: 'pomodoro';
	default: false;
	prefersdark: false;
	color-scheme: 'light';
	--color-base-100: oklch(63% 0.237 25.331);
	--color-base-200: oklch(57% 0.245 27.325);
	--color-base-300: oklch(25% 0.092 26.042);
	--color-base-content: oklch(100% 0 0);
	--color-primary: oklch(100% 0 0);
	--color-primary-content: oklch(63% 0.237 25.331);
	--color-secondary: oklch(50% 0.213 27.518);
	--color-secondary-content: oklch(93% 0.032 17.717);
	--color-accent: oklch(62% 0.194 149.214);
	--color-accent-content: oklch(100% 0 0);
	--color-neutral: oklch(44% 0.177 26.899);
	--color-neutral-content: oklch(100% 0 0);
	--color-info: oklch(74% 0.16 232.661);
	--color-info-content: oklch(29% 0.066 243.157);
	--color-success: oklch(64% 0.2 131.684);
	--color-success-content: oklch(27% 0.105 12.094);
	--color-warning: oklch(87% 0.169 91.605);
	--color-warning-content: oklch(41% 0.112 45.904);
	--color-error: oklch(41% 0.159 10.272);
	--color-error-content: oklch(100% 0 0);
	--radius-selector: 0.5rem;
	--radius-field: 0.25rem;
	--radius-box: 0.5rem;
	--size-selector: 0.25rem;
	--size-field: 0.25rem;
	--border: 1px;
	--depth: 1;
	--noise: 0;
}
